In [7]:
import pandas as pd

In [2]:
scores = pd.read_csv('datasets/scores.csv')

In [3]:
scores.shape

(11024289, 4)

In [4]:
scores.head(5)

   userId  score   timestamp movieId
0       1    1.0  2015-03-09   as680
1       1    4.5  2015-03-09  ns2186
2       1    5.0  2015-03-09  hs2381
3       1    5.0  2015-03-09  ns3663
4       1    5.0  2015-03-09  as9500

In [5]:
scores.describe()

             userId         score
count  1.102429e+07  1.102429e+07
mean   8.997251e+04  3.533455e+00
std    8.686601e+04  1.059692e+00
min    1.000000e+00  5.000000e-01
25%    2.855800e+04  3.000000e+00
50%    5.684300e+04  3.500000e+00
75%    1.168670e+05  4.000000e+00
max    2.708960e+05  5.000000e+00

In [6]:
scores.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11024289 entries, 0 to 11024288
Data columns (total 4 columns):
 #   Column     Dtype
---  ------     -----
 0   userId     int64
 1   score      float64
 2   timestamp  object
 3   movieId    object
dtypes: float64(1), int64(1), object(2)
memory usage: 336.4+ MB